.root { /* background color for dialogs */
	-fx-background-color: rgb(237, 237, 237);
	/* 	default font */
	-fx-font-family: 'lucida-grande';
	-fx-text-base-color: black;
	-fx-text-background-color: black;
	-fx-font-smoothing-type: lcd; 
	-fx-disabled-opacity: 0.4;
	
}


/*******************************************************************************
 *                                                                             *
 * TextField                                                                   *
 *                                                                             *
 ******************************************************************************/

.text-field {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaTextFieldSkin";
	-fx-border-color: linear-gradient(rgb(184, 184, 184) 0%, rgb(205, 205, 205) 100%);
 	-fx-border-width: 0.5;
    -fx-background-color: linear-gradient(rgb(155, 155, 155) 0%, rgb(172, 172, 172)  100%),
    						 rgb(255, 255, 255),
    					linear-gradient(rgb(224, 224, 224) 0%, rgb(255, 255, 255)  10%),
    					linear-gradient(to right, rgb(224, 224, 224) 0%, transparent 1%),
    					linear-gradient(to left, rgb(224, 224, 224) 0%, transparent 1%);
    -fx-background-insets: 0.5, 1, 1, 1;
    -fx-background-radius: 0, 0;
   
    -fx-padding: 0.26em 0.166667em  0.166667em 0.166667em;
    -fx-text-fill: black;
    -fx-highlight-fill: rgb(182, 214, 253);
    -fx-highlight-text-fill: -fx-text-fill;
    
    -fx-prompt-text-fill: rgb(128, 128, 128);
}


.text-field:disabled {
	-fx-disabled-opacity: 1.0;
	-fx-background-color: linear-gradient(rgb(155, 155, 155, 0.4) 0%, rgb(172, 172, 172, 0.4)  100%),
    						 rgb(255, 255, 255),
    					linear-gradient(rgb(224, 224, 224, 0.4) 0%, rgb(255, 255, 255, 0.4)  10%),
    					linear-gradient(to right, rgb(224, 224, 224) 0%, transparent 1%),
    					linear-gradient(to left, rgb(224, 224, 224) 0%, transparent 1%);
	-fx-border-color: linear-gradient(rgb(184, 184, 184, 0.4) 0%, rgb(205, 205, 205, 0.4) 100%);
	-fx-text-fill: rgb(127, 127, 127);
}

/*******************************************************************************
 *                                                                             *
 * PasswordField                                                               *
 *                                                                             *
 ******************************************************************************/

.password-field {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaPasswordFieldSkin";
    -fx-text-fill: -fx-text-inner-color;
}

/*******************************************************************************
 *                                                                             *
 * TextArea                                                                    *
 *                                                                             *
 ******************************************************************************/

.text-area {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaTextAreaSkin";
   	-fx-border-color: rgb(142, 142, 142) rgb(190, 190, 190) rgb(190, 190, 190) rgb(190, 190, 190);
 	-fx-border-width: 1;
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-insets: 1;
    -fx-background-radius: 0;
/*    -fx-font-size: 0.966666em;*/
/*    -fx-font-family: "helvetica";*/
	-fx-text-fill: black;
    -fx-highlight-fill: rgb(182, 214, 253);
    -fx-highlight-text-fill: -fx-text-fill;
    -fx-prompt-text-fill: rgb(128, 128, 128);
}

.text-area > .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-padding: 1.2 3 2 1; 
    -fx-cursor: text;
}

.text-area:focused {
    -fx-prompt-text-fill: transparent;
}

.text-area:disabled {
	-fx-disabled-opacity: 1.0;
	-fx-background-color: rgb(255, 255, 255);
   	-fx-border-color: rgb(142, 142, 142) rgb(190, 190, 190) rgb(190, 190, 190) rgb(190, 190, 190);
	-fx-text-fill: rgb(127, 127, 127);
}


/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/

.button {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaButtonSkin";
	/* gradients for glossy-aqua-effect */
	-fx-background-color: rgb(255, 255, 255),
		linear-gradient(#ffffff 20%, #ececec 60%, #ececec 80%, #eeeeee 100%);
	-fx-background-insets:  0, 1;
	-fx-background-radius: 4, 4;
	-fx-border-radius: 4;
 	-fx-border-width: 0.5;
	-fx-border-color: rgb(129, 129, 129);
	/*when effect-handling works properly, prefer using css for effects...*/
	/*	-fx-effect: dropshadow(gaussian, rgb(192, 192, 198), 2, 0.2 , 0 , 0);*/
	
	/* distance of text to border */
	-fx-padding: 0.07em 0.85em 0.1em 0.85em;
}


.button:default {
	-fx-border-color: rgb(100, 103, 124);
}

.button:pressed:hover {
	-fx-background-color:
		linear-gradient(rgb(190, 214, 237) 0%, rgb(178, 213, 237) 100% ),
		linear-gradient(rgb(165, 193, 238) 0%, rgb(108, 161, 231) 50%,
		rgb(74, 138, 217) 50%, rgb(105, 167, 236) 75%, rgb(152, 201, 238) 100%
		),
		radial-gradient(focus-angle 180deg, focus-distance 95%, center 1% 50%,
		radius 50%, #78b0ee, transparent),
		radial-gradient(focus-angle 0deg, focus-distance 95%, center 100% 50%,
		radius 50%, #78b0ee, transparent);
	-fx-background-insets: 0, 0, 1 99 1 2, 1 2 1 99;
	-fx-background-radius: 4, 4, 4, 4;
	/* distance of text to border */
	-fx-padding: 0.07em 0.85em 0.1em 0.85em;
}


/*when effect-handling works properly, prefer using css for effects...*/
/* .button:focused { */
/* 	-fx-effect: dropshadow(gaussian, rgb(83, 138, 187), 5, 0.7 , 0 , 0), */
/*     			innershadow(gaussian, rgba(122, 170, 217, 0.9), 3, 0.8 , 0 , 0); */           
/* } */



/*******************************************************************************
 *                                                                             *
 * CheckBox                                                                    *
 *                                                                             *
 ******************************************************************************/


.check-box {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaCheckBoxSkin";
}

.check-box > .box {
	-fx-padding: 1.5;
	-fx-border-radius: 2.5;
 	-fx-border-width: 0.5;
	-fx-border-color: rgb(129, 129, 129);

	-fx-background-color: rgb(250, 250, 250),
		linear-gradient(
			rgb(255, 255, 255) 0%, rgb(253,253,253) 25%,  
			rgb(244, 244, 244) 50%, rgb(236, 236, 236) 51%,
			rgb(243, 243, 243) 100% );
	-fx-background-insets: 0, 1;
	-fx-background-radius: 2.5, 2.5;
}

.check-box:focused > .box {
	-fx-border-color: rgb(104, 155, 201);
}

.check-box:selected:focused > .box{
	-fx-border-color: rgb(93, 135, 180);
}

.check-box:selected .box, .check-box:indeterminate .box {
	-fx-border-color: linear-gradient(rgb(100, 103, 124) 0%, rgb(92, 94, 116) 100%);
	-fx-background-color: 
		linear-gradient(rgb(228, 250, 255) 0%, #91bdee 50%, #78b0ee 51%, rgb(228, 250, 255) 100% );
	-fx-background-insets: 0;
	-fx-background-radius:  2.5;
}

.check-box:indeterminate .mark{
	-fx-background-insets: 2 0.2 2 0.2;
	-fx-background-color: black;
	-fx-shape: "M0,0H8V2H0Z";
}

.check-box:selected .mark {   
	    -fx-background-insets: -5 -3.5 2 0.5;
		-fx-shape:
		"m 18.174523,1027.137 c -0.18077,-0.4575 -0.184364,-0.8913 0.115901,-1.1721 0.300265,-0.2809 0.836622,-0.3601 1.288422,-0.041 0.4518,0.3191 2.020453,2.9316 2.020453,2.9316 l 5.41194,-8.0232 c -4e-6,0 0.516257,-0.6671 1.248682,-0.3099 0.648831,0.3165 0.559153,1.0373 0.559153,1.0373 0,0 -5.940433,9.3556 -6.15501,9.6287 -0.214577,0.273 -1.595078,0.2481 -1.817995,-0.027 -0.222917,-0.2751 -2.490777,-3.567 -2.671546,-4.0244 z";
		-fx-background-color: black;
}

.check-box:disabled .box{
	-fx-background-color: rgb(250, 250, 250),
		linear-gradient(
			rgb(255, 255, 255) 0%, rgb(253,253,253) 25%,  
			rgb(244, 244, 244) 50%, rgb(236, 236, 236) 51%,
			rgb(243, 243, 243) 100% );
	-fx-background-insets: 0, 1;
	-fx-background-radius: 2.5, 2.5;
}

.check-box:pressed:hover .box{
	-fx-background-color: rgb(250, 250, 250),
		linear-gradient(
			rgb(224, 224, 224) 0%, rgb(214, 214, 214) 50%,  
			rgb(207, 207, 207) 51%, rgb(208, 208, 208) 100% );
			-fx-background-insets: 0, 1;
			-fx-background-radius: 2.5, 2.5;
}

.check-box:selected:pressed:hover .box{
	-fx-background-color: 
		linear-gradient(
			rgb(151, 199, 225) 0%, rgb(103, 159, 222) 50%,  
			rgb(70, 144, 227) 50%, rgb(119, 178, 233) 82%, rgb(165, 205, 237) 100% );
			-fx-background-insets: 0;
			-fx-background-radius: 2.5;
}

/*******************************************************************************
 *                                                                             *
 * RadioButton                                                                 *
 *                                                                             *
 ******************************************************************************/

.radio-button {
  	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaRadioButtonSkin";
}

.radio-button .radio {
	-fx-padding: 3.5;
	-fx-border-width: 0.5;
	-fx-border-color: rgb(129, 129, 129);
	-fx-border-radius: 1.0em;
	-fx-background-color: rgb(250, 250, 250),
		linear-gradient(
			rgb(255, 255, 255) 0%, rgb(253,253,253) 25%,  
			rgb(244, 244, 244) 50%, rgb(236, 236, 236) 51%,
			rgb(243, 243, 243) 100% );
	-fx-background-insets: 0, 1;
	-fx-background-radius: 1.0em;
}

.radio-button:selected > .radio > .dot {
   -fx-background-color: black;
   -fx-background-insets: 1;
}

.radio-button:selected > .radio {
	-fx-border-color: linear-gradient(rgb(100, 103, 124) 0%, rgb(92, 94, 116) 100%);
	-fx-background-color: 
		linear-gradient(rgb(228, 250, 255) 0%, #91bdee 50%, #78b0ee 51%, rgb(228, 250, 255) 100% );
	-fx-background-insets: 0;
	-fx-background-radius: 1em;
}

.radio-button:disabled .radio{
	-fx-background-color: rgb(250, 250, 250),
		linear-gradient(
			rgb(255, 255, 255) 0%, rgb(253,253,253) 25%,  
			rgb(244, 244, 244) 50%, rgb(236, 236, 236) 51%,
			rgb(243, 243, 243) 100% );
	-fx-background-insets: 0, 1;
	-fx-background-radius: 1em, 1em;
}

.radio-button:pressed:hover .radio{
	-fx-background-color: rgb(250, 250, 250),
		linear-gradient(
			rgb(224, 224, 224) 0%, rgb(214, 214, 214) 50%,  
			rgb(207, 207, 207) 51%, rgb(208, 208, 208) 100% );
			-fx-background-insets: 0, 1;
			-fx-background-radius: 1em, 1em;
}

.radio-button:selected:pressed:hover .radio{
	-fx-background-color: 
		linear-gradient(
			rgb(151, 199, 225) 0%, rgb(103, 159, 222) 50%,  
			rgb(70, 144, 227) 50%, rgb(119, 178, 233) 82%, rgb(165, 205, 237) 100% );
			-fx-background-insets: 0;
			-fx-background-radius: 1em;
}


/*******************************************************************************
 *                                                                             *
 * PopupMenu                                                                   *
 *                                                                             *
 ******************************************************************************/

.context-menu {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaContextMenuSkin";
	-fx-border-color: red;
    -fx-background-color: red;
}

/*******************************************************************************
 *                                                                             *
 * ToggleButton                                                                *
 *                                                                             *
 ******************************************************************************/

.toggle-button {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaToggleButtonSkin";
	
	-toggle-selected-base:linear-gradient(rgb(94, 94, 94) 0%, rgb(142, 142, 142) 20%, 
    		rgb(153, 153, 153) 80%, rgb(177, 177, 177) 95%, rgb(142, 142, 142) 100%);
    -toggle-base: linear-gradient(rgb(255, 255, 255) 25%, rgb(243, 243, 243) 50%, rgb(236, 236, 236) 50%, rgb(243, 243, 243) 100% );
	
	
    -fx-background-color: linear-gradient(rgb(147, 147, 147) 0%, rgb(127, 127, 127) 100%), -toggle-base;
    	
    -fx-background-insets: 0.5 0 0.5 0, 1 0 1 0 ;
    -fx-background-radius: 0;
    -fx-padding: 0.119em  0.733333em 0.12em  0.788888em; 
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-border-width: 0.5 1 0.5 0.5;
    -fx-border-color:rgb(206, 206, 206) 
    		linear-gradient(rgb(255, 255, 255, 0) 0%, rgb(255, 255, 255, 0) 15%, rgb(201, 201, 201) 15%, 
    			rgb(201, 201, 201) 85%, rgb(255, 255, 255, 0) 85%, rgb(255, 255, 255, 0) 100%) 
    		rgb(177, 177, 177) 
    		rgb(255, 255, 255, 0.0);	

 	-fx-effect: dropshadow( gaussian , rgb(172, 172, 184, 0.3) , 1.0 , 0.0001 , 0 , 1 );
}

.toggle-button:focused {
    -fx-background-color: linear-gradient(rgb(147, 147, 147) 0%, rgb(127, 127, 127) 100%), -toggle-base;
}



.toggle-button:selected {
    -fx-background-color: rgb(87, 87, 87), -toggle-selected-base;
    -fx-background-insets:0.5 0 0.5 -1, 0 1 0 0;
    -fx-border-width: 0.5 0 0.5 0.5;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-padding: 0.119em  0.788888em 0.12em  0.788888em; 
    
   -fx-effect:innershadow(one-pass-box, rgb(94, 94, 94, 0.5), 5.5, 0.7, 0.0, 2.0);
}

.toggle-button:selected:focused {
   fx-background-color: rgb(87, 87, 87), -toggle-selected-base;
}

.toggle-button:armed {
}


/*******************************************************************************
 *                                                                             *
 * ChoiceBox                                                                   *
 *                                                                             *
 ******************************************************************************/

.choice-box {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaChoiceBoxSkin";
	-choice-base: linear-gradient(rgb(255, 255, 255) 25%, rgb(243, 243, 243) 50%, rgb(236, 236, 236) 50%, rgb(243, 243, 243) 100% );
	-fx-border-radius: 4;
 	-fx-border-width: 0.5;
	-fx-border-color: rgb(207, 207, 207);
	
    -fx-background-color: linear-gradient(rgb(147, 147, 147) 0%, rgb(127, 127, 127) 100%), -choice-base;
    -fx-background-insets: 0.5, 1;
    -fx-background-radius: 4, 4;
    -fx-padding: -1.2 -2 -1.8 1.3;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}


.choice-box:hover {
    -fx-color: -fx-hover-base;
}

.choice-box:showing {
    -fx-color: -fx-pressed-base;
}

.choice-box > .open-button {
    -fx-background-color: null;
    -fx-padding: 0em 0.666667em 0 0;
}

.choice-box > .open-button > .arrow {
    -fx-background-color: rgb(110, 110, 110, 0.5), rgb(71, 71, 71);
    -fx-background-insets: 0.5 0 -0.5 0, 0;
    -fx-padding: 0.4em 0.18em 0.4em 0.18em;
    -fx-shape:  "m 4.5,3.03125 -3.5,5.5 7,0 z m -3.5,10.875 3.5,5.5 3.5,-5.5 z";
}


/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/
.scroll-bar {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaScrollBarSkin";
}

.scroll-bar:horizontal, .scroll-bar:horizontal:focused, 
.scroll-bar:horizontal > .track-background {
    -fx-background-color:transparent;
    -fx-background-insets: 0;
    -fx-padding: 0 0 1 0;
}

.scroll-bar:horizontal:hover, .scroll-bar:horizontal:focused:hover, 
.scroll-bar:horizontal:hover > .track-background {
    -fx-background-color:transparent;
    -fx-background-insets: 0;
    -fx-padding: 0 0 1 0;
}

.scroll-bar:vertical, .scroll-bar:vertical:focused, 
.scroll-bar:vertical > .track-background {
    -fx-background-color:transparent;
    -fx-background-insets: 0;	
    -fx-padding: -1 1 -1 0;
}

.scroll-bar:vertical:hover, .scroll-bar:vertical:focused:hover,
.scroll-bar:vertical:hover > .track-background {
    -fx-background-color:transparent;
    -fx-background-insets: 0;
    -fx-padding: -1 -1 -1 0;
}

.scroll-bar:horizontal > .thumb, .scroll-bar:vertical > .thumb {
    -fx-background-color: rgb(0, 0, 0, 0.5);
    -fx-background-insets: 0;
    -fx-background-radius: 4;
}

.scroll-bar:horizontal:hover > .thumb, .scroll-bar:vertical:hover > .thumb {
    -fx-background-color: rgb(0, 0, 0, 0.5);
    -fx-background-radius: 6;
}

.scroll-bar:vertical:hover > .thumb {
    -fx-background-insets: 0 2 0 2;
}

.scroll-bar:horizontal:hover > .thumb {
    -fx-background-insets: 2 0 2 0;
}

.scroll-bar > .thumb:hover {
    -fx-color: -fx-hover-base;
}

.scroll-bar:horizontal > .track,
.scroll-bar:vertical > .track {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal:hover > .track,
.scroll-bar:vertical:hover > .track {
    -fx-border-color: rgb(198, 198, 198);
}

.scroll-bar:vertical:hover > .track {
    -fx-background-color: linear-gradient(rgb(238, 238, 238, 0.8) 0%, rgb(255, 255, 255, 0.8) 100%);
    -fx-border-width: 0 0 0 1;
    -fx-border-insets: 0 0 0 -1;
}

.scroll-bar:horizontal:hover > .track {
    -fx-background-color: linear-gradient(rgb(238, 238, 238, 0.8) 0%, rgb(255, 255, 255, 0.8) 100%);
    -fx-border-width: 1 0 0 0;
    -fx-border-insets: -1 0 0 0;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets:  0;
    -fx-padding: 0.0em;
}

.scroll-bar:vertical:hover > .increment-button, 
.scroll-bar:vertical:hover > .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets:  0;
    -fx-padding: 0.0em 6pt 0.0em 0.0em;
}

.scroll-bar:horizontal:hover > .increment-button,
.scroll-bar:horizontal:hover > .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets:  0;
    -fx-padding: 6pt 0.0em 0 0.0em;
}

.scroll-bar:horizontal > .increment-button > .increment-arrow, 
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-insets:  0;
    -fx-padding: 4pt 0.0em 0.0em 0.0em;
}

.scroll-bar:vertical > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-insets:  0;
    -fx-padding: 0.0em 4pt 0.0em 0.0em;
}




