.root { /* background color for dialogs */
	-fx-background-color: rgb(237.0, 237.0, 237.0);
	/* 	default font */
	-fx-font-family: 'lucida-grande';
	-fx-text-base-color: black;
	-fx-text-background-color: black;
	-fx-font-smoothing-type: lcd; 
	-fx-disabled-opacity: 0.4;
	
}


/*******************************************************************************
 *                                                                             *
 * TextField                                                                   *
 *                                                                             *
 ******************************************************************************/

.text-field {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaTextFieldSkin";
	-fx-border-color: linear-gradient(rgb(184.0, 184.0, 184.0) 0.0%, rgb(205.0, 205.0, 205.0) 100.0%);
 	-fx-border-width: 0.5;
    -fx-background-color: linear-gradient(rgb(155.0, 155.0, 155.0) 0.0%, rgb(172.0, 172.0, 172.0)  100.0%),
    						 rgb(255.0, 255.0, 255.0),
    					linear-gradient(rgb(224.0, 224.0, 224.0) 0.0%, rgb(255.0, 255.0, 255.0)  10.0%),
    					linear-gradient(to right, rgb(224.0, 224.0, 224.0) 0.0%, transparent 1.0%),
    					linear-gradient(to left, rgb(224.0, 224.0, 224.0) 0.0%, transparent 1.0%);
    -fx-background-insets: 0.5, 1.0, 1.0, 1.0;
    -fx-background-radius: 0.0, 0.0;
   
    -fx-padding: 0.26em 0.166667em  0.166667em 0.166667em;
    -fx-text-fill: black;
    -fx-highlight-fill: rgb(182.0, 214.0, 253.0);
    -fx-prompt-text-fill: rgb(128.0, 128.0, 128.0);
}


.text-field:disabled {
	-fx-disabled-opacity: 1.0;
	-fx-background-color: linear-gradient(rgb(155.0, 155.0, 155.0, 0.4) 0.0%, rgb(172.0, 172.0, 172.0, 0.4)  100.0%),
    						 rgb(255.0, 255.0, 255.0),
    					linear-gradient(rgb(224.0, 224.0, 224.0, 0.4) 0.0%, rgb(255.0, 255.0, 255.0, 0.4)  10.0%),
    					linear-gradient(to right, rgb(224.0, 224.0, 224.0) 0.0%, transparent 1.0%),
    					linear-gradient(to left, rgb(224.0, 224.0, 224.0) 0.0%, transparent 1.0%);
	-fx-border-color: linear-gradient(rgb(184.0, 184.0, 184.0, 0.4) 0.0%, rgb(205.0, 205.0, 205.0, 0.4) 100.0%);
	-fx-text-fill: rgb(127.0, 127.0, 127.0);
}

.text-field:focused {
  	-fx-highlight-fill: rgb(182.0, 214.0, 253.0);
    -fx-highlight-text-fill: -fx-text-fill;
}

/*******************************************************************************
 *                                                                             *
 * PasswordField                                                               *
 *                                                                             *
 ******************************************************************************/

.password-field {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaPasswordFieldSkin";
    -fx-text-fill: black;
}

/*******************************************************************************
 *                                                                             *
 * TextArea                                                                    *
 *                                                                             *
 ******************************************************************************/

.text-area {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaTextAreaSkin";
   	-fx-border-color: rgb(142.0, 142.0, 142.0) rgb(190.0, 190.0, 190.0) rgb(190.0, 190.0, 190.0) rgb(190.0, 190.0, 190.0);
 	-fx-border-width: 1.0;
    -fx-background-color: rgb(255.0, 255.0, 255.0);
    -fx-background-insets: 1.0;
    -fx-background-radius: 0.0;
	-fx-text-fill: black;
    -fx-highlight-fill: rgb(182.0, 214.0, 253.0);
    -fx-highlight-text-fill: -fx-text-fill;
    -fx-prompt-text-fill: rgb(128.0, 128.0, 128.0);
}

.text-area > .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-padding: 1.2 3.0 2.0 1.0; 
    -fx-cursor: text;
}

.text-area:focused {
    -fx-prompt-text-fill: transparent;
    -fx-highlight-fill: rgb(182.0, 214.0, 253.0);
    -fx-highlight-text-fill: -fx-text-fill;
}

.text-area:disabled {
	-fx-disabled-opacity: 1.0;
	-fx-background-color: rgb(255.0, 255.0, 255.0);
   	-fx-border-color: rgb(142.0, 142.0, 142.0) rgb(190.0, 190.0, 190.0) rgb(190.0, 190.0, 190.0) rgb(190.0, 190.0, 190.0);
	-fx-text-fill: rgb(127.0, 127.0, 127.0);
}


/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/

.button {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaButtonSkin";
	/* gradients for glossy-aqua-effect */
	-fx-background-color: rgb(255.0, 255.0, 255.0),
		linear-gradient(#ffffff 20.0%, #ececec 60.0%, #ececec 80.0%, #eeeeee 100.0%);
	-fx-background-insets:  0.0, 1.0;
	-fx-background-radius: 4.0, 4.0;
	-fx-border-radius: 4.0;
 	-fx-border-width: 0.5;
	-fx-border-color: rgb(129.0, 129.0, 129.0);
	/*when effect-handling works properly, prefer using css for effects...*/
	/*	-fx-effect: dropshadow(gaussian, rgb(192, 192, 198), 2, 0.2 , 0 , 0);*/
	
	/* distance of text to border */
	-fx-padding: 0.07em 0.85em 0.1em 0.85em;
}


.button:default {
	-fx-border-color: rgb(100.0, 103.0, 124.0);
}

.button:pressed:hover {
	-fx-background-color:
		linear-gradient(rgb(190.0, 214.0, 237.0) 0.0%, rgb(178.0, 213.0, 237.0) 100.0% ),
		linear-gradient(rgb(165.0, 193.0, 238.0) 0.0%, rgb(108.0, 161.0, 231.0) 50.0%,
		rgb(74.0, 138.0, 217.0) 50.0%, rgb(105.0, 167.0, 236.0) 75.0%, rgb(152.0, 201.0, 238.0) 100.0%
		),
		radial-gradient(focus-angle 180.0deg, focus-distance 95.0%, center 1.0% 50.0%,
		radius 50.0%, #78b0ee, transparent),
		radial-gradient(focus-angle 0.0deg, focus-distance 95.0%, center 100.0% 50.0%,
		radius 50.0%, #78b0ee, transparent);
	-fx-background-insets: 0.0, 0.0, 1.0 99.0 1.0 2.0, 1.0 2.0 1.0 99.0;
	-fx-background-radius: 4.0, 4.0, 4.0, 4.0;
	/* distance of text to border */
	-fx-padding: 0.07em 0.85em 0.1em 0.85em;
}



 .button:focused { 
/*when effect-handling works properly, prefer using css for effects...*/
/* 	-fx-effect: dropshadow(gaussian, rgb(83, 138, 187), 5, 0.7 , 0 , 0), */
/*     			innershadow(gaussian, rgba(122, 170, 217, 0.9), 3, 0.8 , 0 , 0); */           

 } 



/*******************************************************************************
 *                                                                             *
 * CheckBox                                                                    *
 *                                                                             *
 ******************************************************************************/


.check-box {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaCheckBoxSkin";
}

.check-box > .box {
	-fx-padding: 1.5;
	-fx-border-radius: 2.5;
 	-fx-border-width: 0.5;
	-fx-border-color: rgb(129.0, 129.0, 129.0);

	-fx-background-color: rgb(250.0, 250.0, 250.0),
		linear-gradient(
			rgb(255.0, 255.0, 255.0) 0.0%, rgb(253.0,253.0,253.0) 25.0%,  
			rgb(244.0, 244.0, 244.0) 50.0%, rgb(236.0, 236.0, 236.0) 51.0%,
			rgb(243.0, 243.0, 243.0) 100.0% );
	-fx-background-insets: 0.0, 1.0;
	-fx-background-radius: 2.5, 2.5;
}

.check-box:focused > .box {
	-fx-border-color: rgb(104.0, 155.0, 201.0);
}

.check-box:selected:focused > .box{
	-fx-border-color: rgb(93.0, 135.0, 180.0);
}

.check-box:selected .box, .check-box:indeterminate .box {
	-fx-border-color: linear-gradient(rgb(100.0, 103.0, 124.0) 0.0%, rgb(92.0, 94.0, 116.0) 100.0%);
	-fx-background-color: 
		linear-gradient(rgb(228.0, 250.0, 255.0) 0.0%, #91bdee 50.0%, #78b0ee 51.0%, rgb(228.0, 250.0, 255.0) 100.0% );
	-fx-background-insets: 0.0;
	-fx-background-radius:  2.5;
}

.check-box:indeterminate .mark{
	-fx-background-insets: 2.0 0.2 2.0 0.2;
	-fx-background-color: black;
	-fx-shape: "M0,0H8V2H0Z";
}

.check-box:selected .mark {   
	    -fx-background-insets: -5.0 -3.5 2.0 0.5;
		-fx-shape:
		"m 18.174523,1027.137 c -0.18077,-0.4575 -0.184364,-0.8913 0.115901,-1.1721 0.300265,-0.2809 0.836622,-0.3601 1.288422,-0.041 0.4518,0.3191 2.020453,2.9316 2.020453,2.9316 l 5.41194,-8.0232 c -4e-6,0 0.516257,-0.6671 1.248682,-0.3099 0.648831,0.3165 0.559153,1.0373 0.559153,1.0373 0,0 -5.940433,9.3556 -6.15501,9.6287 -0.214577,0.273 -1.595078,0.2481 -1.817995,-0.027 -0.222917,-0.2751 -2.490777,-3.567 -2.671546,-4.0244 z";
		-fx-background-color: black;
}

.check-box:disabled .box{
	-fx-background-color: rgb(250.0, 250.0, 250.0),
		linear-gradient(
			rgb(255.0, 255.0, 255.0) 0.0%, rgb(253.0,253.0,253.0) 25.0%,  
			rgb(244.0, 244.0, 244.0) 50.0%, rgb(236.0, 236.0, 236.0) 51.0%,
			rgb(243.0, 243.0, 243.0) 100.0% );
	-fx-background-insets: 0.0, 1.0;
	-fx-background-radius: 2.5, 2.5;
}

.check-box:pressed:hover .box{
	-fx-background-color: rgb(250.0, 250.0, 250.0),
		linear-gradient(
			rgb(224.0, 224.0, 224.0) 0.0%, rgb(214.0, 214.0, 214.0) 50.0%,  
			rgb(207.0, 207.0, 207.0) 51.0%, rgb(208.0, 208.0, 208.0) 100.0% );
			-fx-background-insets: 0.0, 1.0;
			-fx-background-radius: 2.5, 2.5;
}

.check-box:selected:pressed:hover .box{
	-fx-background-color: 
		linear-gradient(
			rgb(151.0, 199.0, 225.0) 0.0%, rgb(103.0, 159.0, 222.0) 50.0%,  
			rgb(70.0, 144.0, 227.0) 50.0%, rgb(119.0, 178.0, 233.0) 82.0%, rgb(165.0, 205.0, 237.0) 100.0% );
			-fx-background-insets: 0.0;
			-fx-background-radius: 2.5;
}

/*******************************************************************************
 *                                                                             *
 * RadioButton                                                                 *
 *                                                                             *
 ******************************************************************************/

.radio-button {
  	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaRadioButtonSkin";
}

.radio-button .radio {
	-fx-padding: 0.2916665; /*3.5*/
	-fx-border-width: 0.5;
	-fx-border-color: rgb(129.0, 129.0, 129.0);
	-fx-border-radius: 1.0em;
	-fx-background-color: rgb(250.0, 250.0, 250.0),
		linear-gradient(
			rgb(255.0, 255.0, 255.0) 0.0%, rgb(253.0,253.0,253.0) 25.0%,  
			rgb(244.0, 244.0, 244.0) 50.0%, rgb(236.0, 236.0, 236.0) 51.0%,
			rgb(243.0, 243.0, 243.0) 100.0% );
	-fx-background-insets: 0.0, 1.0;
	-fx-background-radius: 1.0em;
}

.radio-button:selected > .radio > .dot {
   -fx-background-color: black;
   -fx-background-insets: 1.0;
}

.radio-button:selected > .radio {
	-fx-border-color: linear-gradient(rgb(100.0, 103.0, 124.0) 0.0%, rgb(92.0, 94.0, 116.0) 100.0%);
	-fx-background-color: 
		linear-gradient(rgb(228.0, 250.0, 255.0) 0.0%, #91bdee 50.0%, #78b0ee 51.0%, rgb(228.0, 250.0, 255.0) 100.0% );
	-fx-background-insets: 0.0;
	-fx-background-radius: 1.0em;
}

.radio-button:disabled .radio{
	-fx-background-color: rgb(250.0, 250.0, 250.0),
		linear-gradient(
			rgb(255.0, 255.0, 255.0) 0.0%, rgb(253.0,253.0,253.0) 25.0%,  
			rgb(244.0, 244.0, 244.0) 50.0%, rgb(236.0, 236.0, 236.0) 51.0%,
			rgb(243.0, 243.0, 243.0) 100.0% );
	-fx-background-insets: 0.0, 1.0;
	-fx-background-radius: 1.0em, 1.0em;
}

.radio-button:pressed:hover .radio{
	-fx-background-color: rgb(250.0, 250.0, 250.0),
		linear-gradient(
			rgb(224.0, 224.0, 224.0) 0.0%, rgb(214.0, 214.0, 214.0) 50.0%,  
			rgb(207.0, 207.0, 207.0) 51.0%, rgb(208.0, 208.0, 208.0) 100.0% );
			-fx-background-insets: 0.0, 1.0;
			-fx-background-radius: 1.0em, 1.0em;
}

.radio-button:selected:pressed:hover .radio{
	-fx-background-color: 
		linear-gradient(
			rgb(151.0, 199.0, 225.0) 0.0%, rgb(103.0, 159.0, 222.0) 50.0%,  
			rgb(70.0, 144.0, 227.0) 50.0%, rgb(119.0, 178.0, 233.0) 82.0%, rgb(165.0, 205.0, 237.0) 100.0% );
			-fx-background-insets: 0.0;
			-fx-background-radius: 1.0em;
}


/*******************************************************************************
 *                                                                             *
 * PopupMenu                                                                   *
 *                                                                             *
 ******************************************************************************/

.context-menu {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaContextMenuSkin";
	-fx-border-color: rgb(209.0, 209.0, 209.0, 0.9);
	-fx-border-width: 0.5;
	-fx-border-radius: 4.0;
    -fx-background-color: rgb(255.0, 255.0, 255.0, 0.9);
    -fx-background-insets: 0.0;
    -fx-background-radius: 4.0;
    -fx-padding: 0.333333em 0.0em 0.333333em 0.0em; 
}

/*******************************************************************************
 *                                                                             *
 * MenuItem                                                                    *
 *                                                                             *
 ******************************************************************************/

.menu-item {
    -fx-background-color: transparent;
    -fx-background-insets:0.0;
    -fx-padding:0.00333em 0.0em 0.083333em 0.0em;
	-fx-border-width: 1.0 0.0 1.0 0.0;
	-fx-border-color:transparent;
}

.menu-item > .left-container {
	-fx-background-color: red;
    -fx-padding: 0.458em 0.791em 0.458em 0.458em;
}

.menu-item > .graphic-container {
-fx-background-color: blue;
    -fx-padding: 0.0em 0.333em 0.0em 0.0em;
}

.menu-item >.label {
-fx-background-color: transparent;
    -fx-padding: 0.0;
    -fx-text-fill: -fx-text-base-color;
}

.menu-item:disabled > .label {
    -fx-opacity: -fx-disabled-opacity;
}

.menu-item:focused {
	-fx-border-width: 1.0 0.0 1.0 0.0;
	-fx-border-color: rgb(90.0, 130.0, 235.0) transparent rgb(23.0, 89.0, 231.0) transparent;
     -fx-background: -fx-accent;
     -fx-background-color: linear-gradient(rgb(101.0, 140.0, 245.0) 0.0%, rgb(41.0, 103.0, 243.0) 100.0%);
     -fx-text-fill: -fx-selection-bar-text;
}

.menu-item:focused > .label {
    -fx-text-fill: white;
}

.menu-item > .right-container {
	-fx-background-color: purple;
    -fx-padding: 0.0em 0.0em 0.0em 0.5em;
}

.menu-item:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
} 


/*******************************************************************************
 *                                                                             *
 * ToggleButton                                                                *
 *                                                                             *
 ******************************************************************************/

.toggle-button {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaToggleButtonSkin";
	
	-toggle-selected-base:linear-gradient(rgb(94.0, 94.0, 94.0) 0.0%, rgb(142.0, 142.0, 142.0) 20.0%, 
    		rgb(153.0, 153.0, 153.0) 80.0%, rgb(177.0, 177.0, 177.0) 95.0%, rgb(142.0, 142.0, 142.0) 100.0%);
    -toggle-base: linear-gradient(rgb(255.0, 255.0, 255.0) 25.0%, rgb(243.0, 243.0, 243.0) 50.0%, rgb(236.0, 236.0, 236.0) 50.0%, rgb(243.0, 243.0, 243.0) 100.0% );
	
	
    -fx-background-color: linear-gradient(rgb(147.0, 147.0, 147.0) 0.0%, rgb(127.0, 127.0, 127.0) 100.0%), -toggle-base;
    	
    -fx-background-insets: 0.5 0.0 0.5 0.0, 1.0 0.0 1.0 0.0 ;
    -fx-background-radius: 0.0;
    -fx-padding: 0.119em  0.733333em 0.12em  0.788888em; 
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-border-width: 0.5 1.0 0.5 0.5;
    -fx-border-color:rgb(206.0, 206.0, 206.0) 
    		linear-gradient(rgb(255.0, 255.0, 255.0, 0.0) 0.0%, rgb(255.0, 255.0, 255.0, 0.0) 15.0%, rgb(201.0, 201.0, 201.0) 15.0%, 
    			rgb(201.0, 201.0, 201.0) 85.0%, rgb(255.0, 255.0, 255.0, 0.0) 85.0%, rgb(255.0, 255.0, 255.0, 0.0) 100.0%) 
    		rgb(177.0, 177.0, 177.0) 
    		rgb(255.0, 255.0, 255.0, 0.0);	

 	-fx-effect: dropshadow( gaussian , rgb(172.0, 172.0, 184.0, 0.3) , 1.0 , 1.0E-4 , 0.0 , 1.0 );
}

.toggle-button:focused {
    -fx-background-color: linear-gradient(rgb(147.0, 147.0, 147.0) 0.0%, rgb(127.0, 127.0, 127.0) 100.0%), -toggle-base;
}



.toggle-button:selected {
    -fx-background-color: rgb(87.0, 87.0, 87.0), -toggle-selected-base;
    -fx-background-insets:0.5 0.0 0.5 -1.0, 0.0 1.0 0.0 0.0;
    -fx-border-width: 0.5 0.0 0.5 0.5;
    -fx-text-fill: rgb(255.0, 255.0, 255.0);
    -fx-padding: 0.119em  0.788888em 0.12em  0.788888em; 
    
   -fx-effect:innershadow(one-pass-box, rgb(94.0, 94.0, 94.0, 0.5), 5.5, 0.7, 0.0, 2.0);
}

.toggle-button:selected:focused {
   fx-background-color: rgb(87.0, 87.0, 87.0), -toggle-selected-base;
}

.toggle-button:armed {
}


/*******************************************************************************
 *                                                                             *
 * ChoiceBox                                                                   *
 *                                                                             *
 ******************************************************************************/

.choice-box {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaChoiceBoxSkin";
	-choice-base: linear-gradient(rgb(255.0, 255.0, 255.0) 25.0%, rgb(243.0, 243.0, 243.0) 50.0%, rgb(236.0, 236.0, 236.0) 50.0%, rgb(243.0, 243.0, 243.0) 100.0% );
	-fx-border-radius: 4.0;
 	-fx-border-width: 0.5;
	-fx-border-color: rgb(207.0, 207.0, 207.0);
	
    -fx-background-color: linear-gradient(rgb(147.0, 147.0, 147.0) 0.0%, rgb(127.0, 127.0, 127.0) 100.0%), -choice-base;
    -fx-background-insets: 0.5, 1.0;
    -fx-background-radius: 4.0, 4.0;
    -fx-padding: -1.2 -2.0 -1.8 1.3;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}


.choice-box:hover {
    -fx-color: -fx-hover-base;
}

.choice-box:focused {
-fx-border-radius: 4.0;
 	-fx-border-width: 0.5;
	-fx-border-color: rgb(207.0, 207.0, 207.0);
	
    -fx-background-color: linear-gradient(rgb(147.0, 147.0, 147.0) 0.0%, rgb(127.0, 127.0, 127.0) 100.0%), -choice-base;
    -fx-background-insets: 0.5, 1.0;
    -fx-background-radius: 4.0, 4.0;
    -fx-padding: -1.2 -2.0 -1.8 1.3;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.choice-box:showing {
    -fx-color: -fx-pressed-base;
}

.choice-box > .open-button {
    -fx-background-color: null;
    -fx-padding: 0.0em 0.666667em 0.0 0.0;
}

.choice-box > .open-button > .arrow {
    -fx-background-color: rgb(110.0, 110.0, 110.0, 0.5), rgb(71.0, 71.0, 71.0);
    -fx-background-insets: 0.5 0.0 -0.5 0.0, 0.0;
    -fx-padding: 0.4em 0.18em 0.4em 0.18em;
    -fx-shape:  "m 4.5,3.03125 -3.5,5.5 7,0 z m -3.5,10.875 3.5,5.5 3.5,-5.5 z";
}


/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/
.scroll-bar {
	-fx-skin: "de.zillmann.javafx.aqua.controls.skin.AquaScrollBarSkin";
}

.scroll-bar:horizontal, .scroll-bar:horizontal:focused, 
.scroll-bar:horizontal > .track-background {
    -fx-background-color:transparent;
    -fx-background-insets: 0.0;
    -fx-padding: 0.0 0.0 1.0 0.0;
}

.scroll-bar:horizontal:hover, .scroll-bar:horizontal:focused:hover, 
.scroll-bar:horizontal:hover > .track-background {
    -fx-background-color:transparent;
    -fx-background-insets: 0.0;
    -fx-padding: 0.0 0.0 1.0 0.0;
}

.scroll-bar:vertical, .scroll-bar:vertical:focused, 
.scroll-bar:vertical > .track-background {
    -fx-background-color:transparent;
    -fx-background-insets: 0.0;	
    -fx-padding: -1.0 1.0 -1.0 0.0;
}

.scroll-bar:vertical:hover, .scroll-bar:vertical:focused:hover,
.scroll-bar:vertical:hover > .track-background {
    -fx-background-color:transparent;
    -fx-background-insets: 0.0;
    -fx-padding: -1.0 -1.0 -1.0 0.0;
}

.scroll-bar:horizontal > .thumb, .scroll-bar:vertical > .thumb {
    -fx-background-color: rgb(0.0, 0.0, 0.0, 0.5);
    -fx-background-insets: 0.0;
    -fx-background-radius: 4.0;
}

.scroll-bar:horizontal:hover > .thumb, .scroll-bar:vertical:hover > .thumb {
    -fx-background-color: rgb(0.0, 0.0, 0.0, 0.5);
    -fx-background-radius: 6.0;
}

.scroll-bar:vertical:hover > .thumb {
    -fx-background-insets: 0.0 2.0 0.0 2.0;
}

.scroll-bar:horizontal:hover > .thumb {
    -fx-background-insets: 2.0 0.0 2.0 0.0;
}

.scroll-bar > .thumb:hover {
    -fx-color: -fx-hover-base;
}

.scroll-bar:horizontal > .track,
.scroll-bar:vertical > .track {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0;
    -fx-background-insets: 0.0;
}

.scroll-bar:horizontal:hover > .track,
.scroll-bar:vertical:hover > .track {
    -fx-border-color: rgb(198.0, 198.0, 198.0);
}

.scroll-bar:vertical:hover > .track {
    -fx-background-color: linear-gradient(rgb(238.0, 238.0, 238.0, 0.8) 0.0%, rgb(255.0, 255.0, 255.0, 0.8) 100.0%);
    -fx-border-width: 0.0 0.0 0.0 1.0;
    -fx-border-insets: 0.0 0.0 0.0 -1.0;
}

.scroll-bar:horizontal:hover > .track {
    -fx-background-color: linear-gradient(rgb(238.0, 238.0, 238.0, 0.8) 0.0%, rgb(255.0, 255.0, 255.0, 0.8) 100.0%);
    -fx-border-width: 1.0 0.0 0.0 0.0;
    -fx-border-insets: -1.0 0.0 0.0 0.0;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets:  0.0;
    -fx-padding: 0.0em;
}

.scroll-bar:vertical:hover > .increment-button, 
.scroll-bar:vertical:hover > .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets:  0.0;
    -fx-padding: 0.0em 6.0pt 0.0em 0.0em;
}

.scroll-bar:horizontal:hover > .increment-button,
.scroll-bar:horizontal:hover > .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets:  0.0;
    -fx-padding: 6.0pt 0.0em 0.0em 0.0em;
}

.scroll-bar:horizontal > .increment-button > .increment-arrow, 
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-insets:  0.0;
    -fx-padding: 4.0pt 0.0em 0.0em 0.0em;
}

.scroll-bar:vertical > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-insets:  0.0;
    -fx-padding: 0.0em 4.0pt 0.0em 0.0em;
}




